body {
  background: rgb(187, 198, 211);
  font: normal 15pt Arial;
}
header {
  color: rgb(21, 16, 16);
  text-align: center;
}
section {
  background: rgba(243, 242, 241, 0.89);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
footer {
  color: white;
  text-align: center;
  font-style: italic;
}
